body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

img {
  width: 40%;
  height: 40%;
}

.text-center {
	margin: 0 auto;
    width: 70%;
   
}

.panel-body {
	height: 35%;
}

.logo {
	width: 38%;
	height: 38%;
	margin-left: 10%;
	display: block;
}

.basic_facebook {
	height: 20%;
	width: 20%;
	margin-right: 20%;
}

.afterlogo {
	width: 15%;
	height: 15%; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.userblock {
  	font-weight: bold;
  	/* margin-bottom: 2em; */
	display: block;
    padding: 15px 15px;
	color: #FFFFFF;
  	background-color: #337ab7;
  
}

li.active {
	margin-left: 2px;
}

.navbar {
	border: 1px solid #337ab7 !important;
}

.like_button {
	height: 16px;
    width: 16px;
	margin: 0 5px;
    overflow: hidden;
    transform: scale(1.6);
}

.unlike_button {
	height: 16px;
    width: 16px;
	margin: 0 5px;
    overflow: hidden;
    transform: scale(1.6);
}

.btn {
	margin: 2px 2px;
}

.likes {
	margin: 0 3px;
}

footer {
	background-color: #337ab7;
	font-family: Dancing Script;
	color: #FFF;
	text-align: center;
	font-size: 210%;
	border: 1px solid #285C89;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

div.top {
	width: 100%;
}

img.imgtop {
	float: right;
	width: 5%;
	margin-bottom: 2%;
}